.button {
  display: flex;
  padding: 0.5rem;
  border: 1px solid #0a66c2;
  outline: none;
  font-weight: 500;
  border-radius: 999px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  &__primary {
    color: #fff;
    background-color: #0a66c2;
    &:hover {
      background-color: #004182;
      border-color: #004182;
    }
  }
  &__seconday {
    color: #0a66c2;
    &:hover {
      background-color: #ecf4fe;
      box-shadow: inset 0px 0px 0px 1px #025cb9;
    }
  }
  &__block {
    width: 100%;
    justify-content: center;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
